<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
        />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/socket.io/socket.io.min.js"></script>
        <title>Handlebars + SocketIO</title>
    </head>
    <body class="container">
        <section>
            <h1 class="center">Productos Faker</h1>
            {{{body}}}
            <a href="http://127.0.0.1:8080"><button>Index</button></a>
        </section>
    </body>
</html>