<form id="form-message">
    <input type="text" name="input-message" id="input-message" placeholder="Escribe un mensaje">
    <button type="submit">Enviar</button>
</form>

<h1>Historial de mensajes</h1>

<ul id="show-message"></ul>

<script src="/js/script.js" defer></script>