<main class="container">
    <section><p style="text-align:center">Fallo el registro</p></section>
    <a href="./register"><button>Volver a registrarse</button></a>
    <a href="/"><button>Iniciar sesión</button></a>
</main>