<main class="container">
    <section><p style="text-align:center">Fallo en el inicio de sesión</p></section>
    <a href="/"><button>Volver a iniciar sesión</button></a>
    <a href="./register"><button>Registrarse</button></a>
</main>