<main class="container">
    <section><p style="text-align:center">Fallo el registro</p></section>
    <a href="http://127.0.0.1:8080/register"><button>Volver a registrarse</button></a>
    <a href="http://127.0.0.1:8080/"><button>Iniciar sesión</button></a>
</main>