<main class="container">
    <section><p style="text-align:center">Fallo en el inicio de sesión</p></section>
    <a href="http://127.0.0.1:8080/"><button>Volver a iniciar sesión</button></a>
    <a href="http://127.0.0.1:8080/register"><button>Registrarse</button></a>
</main>