extends index

block content
    h2 Agregar Producto

        form(action="/productos" method="post")

            input(type="text" name="title" required placeholder="Titulo")
            input(type="text" name="price" required placeholder="Precio")
            input(type="text" name="thumbnail" required placeholder="URL de imagen")
            button(type="submit") Agregar
    
    a(href="http://localhost:8080/productos") 
                button Al listado