<div class="menu">
    <p id="bienvenido">Bienvenido<strong>{{{email}}}</strong></p>

    <nav class="navbar">
        <ul>
            <li><a href="./">Productos</a></li>
            <li><a href="./">Carrito</a></li>
            <li><a href="./perfil?email={{{email}}}">Perfil</a></li>
        </ul>
    </nav>

    <div style="display: flex">
        <form
            id="submit"
            action="/logout"
            method="POST"
            style="margin: 0 1em; padding: 0"
        >
            <input type="hidden" name="email" value="{{email}}" />
            <button
                role="button"
                type="submit"
                id="submit-username"
            >Desloguear</button>
        </form>
        <img
            src="http://localhost:8080/avatars/{{{avatar}}}"
            width="50px"
            height="50px"
            style="border-radius: 40px; margin: 0; padding: 0"
        />
    </div>

</div>
<main class="container">

    <section>
        <h3>Productos</h3>
        <table id="tabla-productos">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody id="tbody-productos">
                <!-- id="tbody-productos" -->

            </tbody>

        </table>
    </section>

</main>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
<script src="/socket.io/socket.io.min.js"></script>
<script src="./js/script.js"></script>