<main class="container">
    <form id="submit" action="/login" method="POST">
        <input
            type="email"
            name="email"
            id="email"
            placeholder="Correo"
            required
        />
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            required
        />
        <button
            style="width: 20%; align-self: flex-end"
            role="button"
            type="submit"
            id="submit-username"
        >Ingresar</button>
    </form>
    <a href="./register"><button>Sign Up</button></a>
</main>