<main class="container">
    <form id="submit" action="/login" method="POST">
        <input
            type="text"
            name="username"
            id="username"
            placeholder="Usuario"
            required
        />
        <button
            style="width: 20%; align-self: flex-end"
            role="button"
            type="submit"
            id="submit-username"
        >Ingresar</button>
    </form>
</main>