<main class="container">
    <h1 class="center">Productos Faker</h1>
    <section>
        <h3>Productos</h3>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{this.nombre}}</td>
                        <td>{{this.precio}}</td>
                        <td><img
                                src="{{this.foto}}"
                                alt="{{this.nombre}}"
                                width="50px"
                                height="50px"
                            /></td>
                    </tr>
                {{/each}}
            </tbody>

        </table>
    </section>
    <a href="http://127.0.0.1:8080"><button>Index</button></a>
</main>