<main class="container">
    <form id="submit" action="/register" method="POST" enctype="multipart/form-data">
        <input
            type="text"
            name="name"
            id="name"
            placeholder="Nombre"
            required
        />
        <input
            type="text"
            name="address"
            id="address"
            placeholder="Direccion"
            required
        />
        <input
            type="number"
            name="age"
            id="age"
            placeholder="Edad"
            required
        />
        <input
            type="text"
            pattern="[+][0-9]{12}"
            name="phone"
            id="phone"
            placeholder='+54 y 10 digitos'
            required
        />

        <input
            type="email"
            name="email"
            id="email"
            placeholder="Correo"
            required
        />
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            required
        />
        <input
            type="file"
            name="avatar"
            id="avatar"
            placeholder="Foto / Avatar"
            required
        />
        <button
            style="width: 20%; align-self: flex-end"
            role="button"
            type="submit"
        >Registrarse</button>
    </form>
    <a href="/"><button>Sign In</button></a>
</main>