.userChat {
    color: rgb(60, 125, 168);
    font-weight: bold;
}
.dateChat {
    color: bisque;
    font-size: 0.6em;
}
.msgChat {
    color: rgb(85, 136, 85);
    font-style: italic;
}

#validEmail {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    color: red;
}

.center {
    text-align: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.compresion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-radius: 5px;
}
.login * {
    padding: 0;
    margin: 0.75em 1em;
}

.login #submit-username {
    height: fit-content;
    margin: 10px;
    font-size: 0.8em;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-radius: 5px;
}
.menu * {
    padding: 0;
    margin: 0.75em 1em;
}

.navbar * {
    margin: 0 0.5em;
    padding: 0;
}

.menu #submit-username {
    height: fit-content;
    margin: 10px;
    font-size: 0.8em;
}

.profile {
    display: flex;
    justify-content: space-around;
}

.profile strong {
    display: block;
}

.profile img {
    max-width: 400px;
}

.carritoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.cards1 {
    grid-area: 1 / 1 / 2 / 2;
}
.cards2 {
    grid-area: 1 / 2 / 2 / 3;
}
.cards3 {
    grid-area: 1 / 3 / 2 / 4;
}
.cards4 {
    grid-area: 2 / 1 / 3 / 2;
}
.cards5 {
    grid-area: 2 / 2 / 3 / 3;
}
.cards6 {
    grid-area: 2 / 3 / 3 / 4;
}
.cards7 {
    grid-area: 3 / 1 / 4 / 2;
}
.cards8 {
    grid-area: 3 / 2 / 4 / 3;
}
.cards9 {
    grid-area: 3 / 3 / 4 / 4;
}
